@media screen and (max-wdith: 320px) {
  //가로가 320px이하인 모바일 환경
}

@media screen and (max-width: 540px) and (min-width: 360px) {
  //360-540px : tablet
}

@font-face {
  font-family: Player; /* 사용하고 싶은 font-family명을 지정 */
  src: url("../assets/fonts/IAMAPLAYER.otf") format("opentype"); /* 폰트파일 불러오기 */
}

@font-face {
  font-family: SCDream;
  src: url("../assets/fonts/SCDream4.otf") format("opentype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("../assets/fonts/Pretendard-Black.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Black.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("../assets/fonts/Pretendard-ExtraBold.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-ExtraBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Bold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("../assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("../assets/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("../assets/fonts/Pretendard-Light.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-Light.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("../assets/fonts/Pretendard-ExtraLight.subset.woff2") format("woff2"),
    url("../assets/fonts/Pretendard-ExtraLight.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("./assets/woff2-subset/Pretendard-Thin.subset.woff2") format("woff2"),
    url("./woff-subset/Pretendard-Thin.subset.woff") format("woff");
}

* {
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-color: #202020;
}

/* f3f7fb */

header {
  width: 100%;
  height: 64x;
  margin: 0;
  background: #cfe4fa;
}

nav {
  width: 1120px;
  height: 60px;
  margin: 0 auto;
}

header img {
  float: left;
  margin: 10px 20px 0 10px;
  line-height: 50px;
}

ul {
  list-style: none;
  line-height: 64px;
}

ul:last-child {
  float: right;
}

nav li {
  float: left;
  height: 56px;
  margin: 0 10px;
  font-size: 16px;
  padding: 5px 0;
}

nav li:hover {
  font-weight: 500;
}

nav li a {
  text-decoration: none !important;
  color: black;
}

nav li {
  display: inline-block;
  position: relative;
  color: #000000;
}

nav li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

nav li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav .right_nav {
  height: 56px;
}

nav .right_nav_box:last-child {
  margin-right: 10px;
}
#container {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #cfe4fa, white);
}

section {
  padding: 10px 160px;
  height: 600px;
  text-align: center;
}

.main h2:after {
  width: 10px;
  border-bottom: solid 1px black;
}

.main h1 {
  margin: 200px 0 50px 0;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.main h2 {
  color: #4a4b5e;
  margin: 30px auto;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
}
hr {
  margin: 10px auto;
  width: 120px;
}

.book_list {
  margin: 30px auto;
  padding: 30px;
}

.book_list h1 {
  font-family: "Pretendard";
  width: max-content;
  margin: 20px auto;
  font-size: 1.5rem;
  font-weight: 300;
}

.book_card {
  margin: 20px 10px;
  padding: 20px 0;
}

.book_card_wrapper {
  margin: 20px auto;
  padding: 10px;
}

.book_list img {
  border-radius: 15px;
}
